<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Warkst
  Date: 29/10/2019
  Time: 16:58
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <title>My Lair</title>
</h:head>

<h:body>
    <h:outputText value="All my secret stuff!"/>
    <ul>
        <li>
            <h:link outcome="/lair/room1.xhtml">Door 1</h:link>
        </li>
        <li>
            <h:link outcome="/lair/room2">Door 2</h:link>
        </li>
    </ul>
    <h:panelGroup>
        <h:button outcome="#{logoutBean.logOut()}" value="Go back outside"/>
    </h:panelGroup>
</h:body>

</html>