<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
>
<h:body>
    <h:panelGroup>
        <h1>Index page</h1>
        <h:button outcome="#{logoutBean.logOut()}" value="Go back outside"/>
    </h:panelGroup>
    <h:panelGroup>
        <ul>
            <li>
                <h:link value="Take me to my lair" outcome="lair/homepage"/>
            </li>
            <li>
                <h:link value="Claim a new lair" outcome="registration"/>
            </li>
        </ul>
    </h:panelGroup>
</h:body>
</html>
