<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Warkst
  Date: 30/10/2019
  Time: 12:16
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <title>Get your lair</title>
</h:head>

<h:body>
    <h1>Lair acquisition form</h1>
    <h:form>
        <h:panelGroup>
            <h:outputText value="Username"/>
            <h:inputText value="#{registrationBean.username}"/>
        </h:panelGroup>
        <h:panelGroup>
            <h:outputText value="Password"/>
            <h:inputSecret value="#{registrationBean.password}"/>
        </h:panelGroup>
        <h:panelGroup>
            <h:outputText value="Confirm"/>
            <h:inputSecret value="#{registrationBean.confirm}"/>
        </h:panelGroup>
        <h:commandButton value="Claim" action="#{registrationBean.submit()}"/>
    </h:form>
</h:body>

</html>